In [25]:
valid = "ぁあぃいぅうぇえぉおかがきぎくぐけげこごさざしじすずせぜそぞただちぢっつづてでとどなにぬねのはばぱひびぴふぶぷへべぺほぼぽまみむめもゃやゅゆょよらりるれろゎわゐゑをんゔゕゖ"

In [2]:
import pandas as pd
df = pd.read_csv("chinese_jp_kor_excel_data.csv")
columns = ['Column9', 'Column10', 'Column11']

In [111]:
li1 = df['Column9'].tolist()
li2 = df['Column10'].tolist()
li3 = df['Column11'].tolist()
lis = [li1, li2, li3]

In [112]:
def jpstrip(s):
    res = ""
    if type(s) == float:
        return ""
    for i in range(len(s)):
        if valid.find(s[i]) == -1:
            print(s[i:])
            return s[0:i]
    return s

In [114]:
for li in lis:
    for i in range(len(li)):
        li[i] = jpstrip(li[i])

In [115]:
df['Column9'] = li1
df['Column10'] = li2
df['Column11'] = li3

In [116]:
df.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column19,Column20,Column21,Column22,Column23,Column24,Column25,Column26,Column27,Column28
0,犬,598.0,quǎn,hyun2,khién,NaN,ián,2qyoe,けん,けん,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,馬,599.0,mǎ,maa5,mâ,ma1,NaN,3mo,め,め,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,西,603.0,xī,sai1,sî,xi1,sai,1xi,さい,さい,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,車,604.0,chē,ce1,chhâ,ca1,chhia,1tsho,しゃ,しゃ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,酉,650.0,yǒu,jau5,yu,NaN,iú,NaN,ゆ,ゆ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df.to_csv("chinese_jp_kor_excel_data_jp_corrected.csv", encoding='utf-8')